<html>
<head>
    <title>JasuBot</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body ng-app="jasubotApp">
<div class="container">
<div class="jumbotron text-center">

    <h1><span class="fa fa-user"></span> Manage users</h1><br>
    
    <!-- remove, edit true/false channels -->
    <div class="table-responsive">
    <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>#pikku2</th>
        <th>#tuula62</th>
      </tr>
    </thead>
    <tbody id="users"></tbody>
    </table>
    </div>

    <br>
    <h3><a href="/profile">Go back to profile</a></h3>

</div>
</div>
<script src="js/socket.io-1.2.0.js"></script>
<script src="js/jquery-1.11.1.js"></script>
<script src="js/manageUsers.js"></script>
</body>
</html>