<html>
<head>
    <title>JasuBot</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body ng-app="jasubotApp">
<div class="container">
<div class="jumbotron text-center">

    <h1><span class="fa fa-user"></span> Manage users</h1>
    
    <!-- remove, edit true/false channels -->
    <ul id="users"></ul>

    <!-- userId postina, muu data klikkaamalla auki -->

    <!-- LOGIN FORM -->
    <form action="/connect/local" method="post">

        <button type="submit" class="btn btn-warning btn-lg">Add Local</button>
    </form>

    <hr>

    <p><a href="/profile">Go back to profile</a></p>

</div>
</div>
<script src="js/socket.io-1.2.0.js"></script>
<script src="js/jquery-1.11.1.js"></script>
<script src="js/manageUsers.js"></script>
</body>
</html>