<html>
<head>
    <title>JasuBot</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body ng-app="jasubotApp">
<div class="container">
<div class="jumbotron text-center">

    <h1><span class="fa fa-user"></span> Manage bots</h1><br>
    <h3>Restart:</h3>
    <button type="submit" onclick="restartIrc();" class="btn btn-warning btn-lg">IRC</button>
    <button type="submit" onclick="restartQuake();" class="btn btn-warning btn-lg">Quake</button>

    <br>
    <h3><a href="/profile">Go back to profile</a></h3>

</div>
</div>
<script src="js/socket.io-1.2.0.js"></script>
<script src="js/jquery-1.11.1.js"></script>
<script src="js/manageBots.js"></script>
</body>
</html>